<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Displaying the Filters</h1>
<!--
        <h2>{{data}}</h2>
        <h2>{{data|upper}}</h2>
         <h2>{{data|lower}}</h2>
         <h2>{{data|capfirst}}</h2>
         <h2>{{data|title}}</h2>
         {% if data|length > 15 %}

             <h2>{{data|length}}</h2>
         {% endif %}
         <h2>{{date1}}</h2>
         <h2>{{date1|date:'D F Y i '}}</h2>
         <h2>{{data|truncatewords:'1'}}</h2>
         
         <h2>{{data|truncatechars:'6'}}</h2>
         
         <h2>{{data|slice:'6'}}</h2>
-->


<h1>I have {{count}} dog{{count|pluralize}}</h1>

<h1>I have {{count}} mango{{count|pluralize:'es'}}</h1>
<h1>This {{count}} dog{{count|pluralize}} {{count|pluralize:'is,are'}} mine</h1>


























    </center>
</body>
</html>